@import "variable";


.blog {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4f5f9;
}
.blog-wrapper {
  margin-top: 50px;
  display: flex;
}

.blog-item--left, .blog-item--right {
  //display: flex;
}


.blog-item {
  &__img img, &__content{
    max-width: 295px;
    width: 100%;
    height: 280px;
  }
  &__content {
    background-color: $red;
    color: #ffffff;
    padding: 10px;
  }
}

.blog-item__content {
  position: relative;
  &-title {
    padding-bottom: 10px;
    position: relative;
    font-weight: 700;
    font-family: $font-pro;
    font-size: 16px;
  }
  &-title::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  &-text {
    padding-top: 10px;
    padding-bottom:20px;
    font-size: 13px;
  }
  &-btn {
    padding: 0 0 5px 0;
    border: none;
    background-color: $red;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-weight: 600;
  }
  &-btn:hover {
    text-decoration: none;
    color: #ffffff;
  }
}
.blog-item--left .blog-item__content::after, .blog-item--right .blog-item__content::after  {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -16%;
  left: 50%;
  transform: translateY(-50%) rotate(90deg);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.blog-item--left .blog-item__content::after {
  border-left: 10px solid #e74c3c;
}
.blog-item--right .blog-item__content::after {
  border-right: 10px solid #e74c3c;
  top: -1%;
}
