@import "variable";

.clients {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f4f5f9;
  border-bottom: 1px solid #d8d9db;
}
.clients-wrapper {
  padding-top: 3rem;
}
.clients-item {
  background-color: #fff;
  margin-bottom: 2rem;
  margin-right: 2rem;
  max-width: 260px;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
   svg {
     width: 180px;
     height: 120px;
     filter: grayscale(1);
     margin: 0 auto;
     fill: #c5c5c5;
   }
}
.clients-item:hover {
  animation: liveLogo 0.4s linear forwards;
  @keyframes liveLogo {
    0% {
      background-color: #fff;
      svg {
        filter: grayscale(1);
      }
    }
    100% {
      background-color: $red;
    }
  }
  svg {
    filter: grayscale(0);
    fill: #ffffff;
  }
}
