 @import "variable";

 .stats {
   margin-bottom: 100px;
   background-image: url(../img/stats-bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 540px;
   position: relative;
   &:after {
     content: '';
     position: absolute;
     width: 100%;
     height: 540px;
     background-color: rgba(0,0,0, 0.7);
     top: 0;
     left: 0;
     z-index: 1;
   }
 }
 .stats-items {
   position: relative;
   z-index: 2;
   color: #ffffff;
   justify-content: space-between;
 }

 .stats-item {
   text-align: center;
   font-family: $font-pro;
   &__icon {
     margin-top: 180px;
     margin-bottom: 20px;
     width: 110px;
     height: 110px;
     border: 1px solid #ffffff;
     border-radius: 50%;
     line-height: 110px;
     svg {
       width: 40px;
       height: 40px;
       fill: #ffF;
     }
   }
   &__counter {
     font-size: 30px;
     font-weight: 700;
   }
   &__name {
     font-size: 18px;
   }
 }
